---
import Header from "../components/Header.vue";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "关于我";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="bg-gray-200 h-screen">
    <h1>about</h1>
	</div>
</BaseLayout>