---
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.vue";

const pageTitle = "扶뒬못";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="bg-gray-100 h-screen">
		<h1>扶뒬못</h1>
	</div>
  <Footer to="/p1" client:load/>
</BaseLayout>
