---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.vue";
---

<BaseLayout pageTitle="4">
  <Header client:load />
  <div class="bg-gray-200 h-screen">
    <h1>4</h1>
  </div>
</BaseLayout>